<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Login with:</h1>
      <a href="/auth/github" class="btn">GitHub</a>
      <a href="/auth/google" class="btn">Google</a>
    </div>
  </body>
</html>
